            h2 {
            vertical-align: center;
            text-align: center;
            }
            html,
            body {
            margin: 0;
            height: 100%;
            }
            * {
            font-family: "Raleway";
            box-sizing: border-box;
            }
            .top-nav {
            margin: 1.5rem 9px;
            border-radius: 9px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            background-color: #4ac0d8;
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #000;
            font-weight: bold;
            height: 50px;
            padding: 1em;
            position: relative;
            }
            .menu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
            .menu > li {
            margin: 0 1rem;
            overflow: hidden;
            font-size: 1.2rem;
            transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
            }
            .menu-button-container {
            display: none;
            height: 100%;
            width: 30px;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
            #menu-toggle {
            display: none;
            width: 40px;
            height: 40px;
            z-index: 10;
            position: absolute;
            right: 9px;
            }
            .menu-button,
            .menu-button::before,
            .menu-button::after {
            display: block;
            background-color: #fff;
            position: absolute;
            height: 4px;
            width: 30px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: 2px;
            }
            .menu-button::before {
            content: "";
            margin-top: -8px;
            }
            .menu-button::after {
            content: "";
            margin-top: 8px;
            }
            #menu-toggle:checked + .menu-button-container .menu-button::before {
            margin-top: 0px;
            transform: rotate(405deg);
            }
            #menu-toggle:checked + .menu-button-container .menu-button {
            background: rgba(255, 255, 255, 0);
            }
            #menu-toggle:checked + .menu-button-container .menu-button::after {
            margin-top: 0px;
            transform: rotate(-405deg);
            }
            @media (max-width: 700px) {
            .menu-button-container {
                display: flex;
            }
            .menu {
                position: absolute;
                top: 1px;
                margin-top: 50px;
                left: 0;

                flex-direction: column;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
            }
            #menu-toggle ~ .menu li {
                font-weight: bold;
                position: absolute;
                right: 9px;
                height: 0;
                margin: 0;
                padding: 0;
                border: 0;
            }
            #menu-toggle:checked ~ .menu li {
                border-bottom: none;
                height: 2.5em;
                padding: 0.5em;
                z-index: 10;
            }
            #menu-toggle:checked ~ .menu li:first-of-type {
                border-radius: 1px 1px 0 0;
            }

            #menu-toggle:checked ~ .menu li:last-of-type {
                border-radius: 0 0 8px 8px;
            }
            .menu > li {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: #000;
                background-color: #4ac0d8;
                width: 200px;
            }
            .menu > li:not(:last-child) {
                border-bottom: 1px solid #444;
            }
            }

            @import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
            @font-face {
            font-family: vazir;
            src: url("https://fnm.iums.ac.ir/uploads/schools/assets/fonts/Vazir-Regular-FD.woff");
            font-weight: normal;
            font-display: swap;
            }

            @font-face {
            font-family: vazir;
            src: url("https://fnm.iums.ac.ir/uploads/schools/assets/fonts/Vazir-Bold-FD.woff");
            font-weight: bold;
            font-display: swap;
            }
            * {
            font-family: inherit;
            }

            body {
            font-family: vazir, sans-serif;
            background-color: #f3f3f3;
            background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2380bdc4' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");
            }

            .nav-item {
            cursor: pointer;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            }

            .nav-item:hover {
            background-color: #215864;
            color: #fff;
            }

            .top-nav-item {
            height: 50px;
            vertical-align: middle;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.1s;
            padding: 1rem;
            /* padding-bottom: 2rem; */
            /* margin-bottom: 4px; */
            overflow: hidden;
            }

            .top-nav-item.img-container {
            display: flex;
            justify-content: flex-start;
            padding-left: 0;
            align-items: center;
            }

            .top-nav-item.img-container img {
            width: 40px;
            height: 40px;
            }

            #video-list > li:hover {
            cursor: pointer;
            filter: brightness(85%);
            }

            #container {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }

            #videoContainer {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
